.info-text.ant-typography{
    font-size: 16px !important;
    // text-align: justify !important;
    // text-justify: inter-word !important;
}

.info-title.ant-typography{
    font-weight: 500
}

.col-justify{
    text-align: justify ;
}